-----BEGIN CERTIFICATE-----
MIIEyjCCA7KgAwIBAgIJAOukpix9dFcaMA0GCSqGSIb3DQEBCwUAMIGeMQswCQYD
VQQGEwJSVTEPMA0GA1UECBMGUnVzc2lhMQ8wDQYDVQQHEwZNb3Njb3cxDzANBgNV
BAoTBmF2c29mdDEWMBQGA1UECxMNSVQgRGVwYXJ0bWVudDESMBAGA1UEAxMJYXZz
b2Z0IENBMRAwDgYDVQQpEwdFYXN5UlNBMR4wHAYJKoZIhvcNAQkBFg9kLmRlbWlu
QGF2c3cucnUwHhcNMTcwOTI3MTU0MzQxWhcNMjcwOTI1MTU0MzQxWjCBnjELMAkG
A1UEBhMCUlUxDzANBgNVBAgTBlJ1c3NpYTEPMA0GA1UEBxMGTW9zY293MQ8wDQYD
VQQKEwZhdnNvZnQxFjAUBgNVBAsTDUlUIERlcGFydG1lbnQxEjAQBgNVBAMTCWF2
c29mdCBDQTEQMA4GA1UEKRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPZC5kZW1p
bkBhdnN3LnJ1MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzNn0TR02
EcptcsyoqTGyl47mIudAH3WK2ds8kUDW+AzirHmzSrYoqi/J3XBzAUaS9KfvtWZN
DyrQczP6TL+xYj95zf1qX+oGRo99+JOoD6uNOQh1clVhC201X+J+3NxFD+PvqvmG
4B/Dk8zpP+/9r/f1bk3vX8ylpmEsOKtpqUAJqUCntBj44L9fwz3mPx6VYTfgJvEH
f/lQc8vYhT2FOfjdw3tdh/ahXKkDJmpOQOq7IEae2fqhd4rTNqiUWn+8z+iMOv/m
JXEQtrhIq73PlQbXbBMpQmOVtXSdv5p22bNWgLlW/9IbCE4Iab/iM2B1sdWGw10X
xmJwxSY00UHyfQIDAQABo4IBBzCCAQMwHQYDVR0OBBYEFKvOkM2BJtWnqo5mFJn9
rkuyH2F0MIHTBgNVHSMEgcswgciAFKvOkM2BJtWnqo5mFJn9rkuyH2F0oYGkpIGh
MIGeMQswCQYDVQQGEwJSVTEPMA0GA1UECBMGUnVzc2lhMQ8wDQYDVQQHEwZNb3Nj
b3cxDzANBgNVBAoTBmF2c29mdDEWMBQGA1UECxMNSVQgRGVwYXJ0bWVudDESMBAG
A1UEAxMJYXZzb2Z0IENBMRAwDgYDVQQpEwdFYXN5UlNBMR4wHAYJKoZIhvcNAQkB
Fg9kLmRlbWluQGF2c3cucnWCCQDrpKYsfXRXGjAMBgNVHRMEBTADAQH/MA0GCSqG
SIb3DQEBCwUAA4IBAQCYOiS8E+hYFRXqmdG832GnbckLBpdPeE+hGmEfMXa0WChi
nGHhCQS/k7ZH/0jHZtme3VZZxdsxy/UF0phMqBZo78Yxs6vHQUheOFX7ALwsF+DU
uBBqAsQN1YWm8U73rbPkZRfmBoMNNdSdybuxPeaCjWagKIu3jkSPks0zCO0WNsWA
vLygg92+7sNtUoXr4UfCpFrP5t7NgDDjzOlRFnrSDO7j2SKexOuMLD36F5tVg/cI
ZOygh+SQDb7VYtnzyj6g9RmsrFxSS+ylNNdu7+fSsTNnhrB+lHvZOjFh12UncOJG
IXSX/WQXeCkOGKkGq+Xde+qT0XWPHp1kWjWrBT0x
-----END CERTIFICATE-----
