
-----BEGIN CERTIFICATE-----
MIIFJzCCBA+gAwIBAgIBATANBgkqhkiG9w0BAQsFADCBnjELMAkGA1UEBhMCUlUx
DzANBgNVBAgTBlJ1c3NpYTEPMA0GA1UEBxMGTW9zY293MQ8wDQYDVQQKEwZhdnNv
ZnQxFjAUBgNVBAsTDUlUIERlcGFydG1lbnQxEjAQBgNVBAMTCWF2c29mdCBDQTEQ
MA4GA1UEKRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPZC5kZW1pbkBhdnN3LnJ1
MB4XDTE3MDkyNzE1NDM1NFoXDTI3MDkyNTE1NDM1NFowgZsxCzAJBgNVBAYTAlJV
MQ8wDQYDVQQIEwZSdXNzaWExDzANBgNVBAcTBk1vc2NvdzEPMA0GA1UEChMGYXZz
b2Z0MRYwFAYDVQQLEw1JVCBEZXBhcnRtZW50MQ8wDQYDVQQDEwZzZXJ2ZXIxEDAO
BgNVBCkTB0Vhc3lSU0ExHjAcBgkqhkiG9w0BCQEWD2QuZGVtaW5AYXZzdy5ydTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKokg2LWwHiwnnETAXZTQeKK
ZAC9TtUAoyN6oyORtXiYAYnc4YFHynBg3/mgl5IvCUW5G7Baa6JC2baThY/ParTJ
Qeb2qSr/SOq80uXWMdQRzbAlKrywQSsCX5gHKXb8tZGsvm2Df9K3NDDO8a+bl3zf
dGLgBxdFr7IcFl14R5u9FiuyRQy2BpazJvNrM8g2nN8IxJTfRIujOpIDs0b38pDa
sglUib0TPU3m/k/kjNkcvEcn/ja//0Y/lGs03HsF9//aI3dRZfG1PP9JEV7YYj35
lx27Ky/FUxEsBOoUH//s6+2Oewu9nAr36zR6rh5gYAI7cargTyh5ViotIPUSvx0C
AwEAAaOCAW8wggFrMAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEBBAQDAgZAMDQGCWCG
SAGG+EIBDQQnFiVFYXN5LVJTQSBHZW5lcmF0ZWQgU2VydmVyIENlcnRpZmljYXRl
MB0GA1UdDgQWBBR1m4Uu1tA4V5xfPtz4+X+zyJlXiDCB0wYDVR0jBIHLMIHIgBSr
zpDNgSbVp6qOZhSZ/a5Lsh9hdKGBpKSBoTCBnjELMAkGA1UEBhMCUlUxDzANBgNV
BAgTBlJ1c3NpYTEPMA0GA1UEBxMGTW9zy293MQ8wDQYDVQQKEwZhdnNvZnQxFjAU
BgNVBAsTDUlUIERlcGFydG1lbnQxEjAQBgNVBAMTCWF2c29mdCBDQTEQMA4GA1UE
KRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPZC5kZW1pbkBhdnN3LnJ1ggkA66Sm
LH10VxowEwYDVR0lBAwwCgYIKwYBBQUHAwEwCwYDVR0PBAQDAgWgMA0GCSqGSIb3
DQEBCwUAA4IBAQALlDvhc2kOzidpGaMF1rxgniancjNqrzi0r6rdNm05kr6pl7/c
eVRt10WGjA+T93uAmFN/H22Rpy6gzsPK1zwguMqvfdWO2O7XWhPcDAWUyNODRXjq
uBw9FC0NMGBRbgchu+0k6uP7gzPkUnuxkU7nslZ4+8cVBcI77U/yLFVGe4GUmfaO
eVU4iD7UhQ1zC5pnOz/OjmmnjYIGGYWxI39KsQK4dTGO1qWAxwe6Ipxd//a5VaJs
Pk9IB7P/fMcixR3Bg4+sS/hZHSvC5mSwKjqFMH2UyDOW+Wl81Y/yiOZKNB8gfwy2
OrImEZXlU0F/sjIz5VETKY8KcnGiQ+LMnYM0
-----END CERTIFICATE-----
