Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 1 (0x1)
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: C=RU, ST=Russia, L=Moscow, O=avsoft, OU=IT Department, CN=avsoft CA/name=EasyRSA/emailAddress=d.demin@avsw.ru
        Validity
            Not Before: Sep 27 15:43:54 2017 GMT
            Not After : Sep 25 15:43:54 2027 GMT
        Subject: C=RU, ST=Russia, L=Moscow, O=avsoft, OU=IT Department, CN=server/name=EasyRSA/emailAddress=d.demin@avsw.ru
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                Public-Key: (2048 bit)
                Modulus:
                    00:aa:24:83:62:d6:c0:78:b0:9e:71:13:01:76:53:
                    41:e2:8a:64:00:bd:4e:d5:00:a3:23:7a:a3:23:91:
                    b5:78:98:01:89:dc:e1:81:47:ca:70:60:df:f9:a0:
                    97:92:2f:09:45:b9:1b:b0:5a:6b:a2:42:d9:b6:93:
                    85:8f:cf:6a:b4:c9:41:e6:f6:a9:2a:ff:48:ea:bc:
                    d2:e5:d6:31:d4:11:cd:b0:25:2a:bc:b0:41:2b:02:
                    5f:98:07:29:76:fc:b5:91:ac:be:6d:83:7f:d2:b7:
                    34:30:ce:f1:af:9b:97:7c:df:74:62:e0:07:17:45:
                    af:b2:1c:16:5d:78:47:9b:bd:16:2b:b2:45:0c:b6:
                    06:96:99:26:f3:6b:33:c8:36:9c:df:08:c4:94:df:
                    44:8b:a3:3a:92:03:b3:46:f7:f2:90:da:b2:09:54:
                    89:bd:13:3d:4d:e6:fe:4f:e4:8c:d9:1c:bc:47:27:
                    fe:36:bf:ff:46:3f:94:6b:34:dc:7b:05:f7:ff:da:
                    23:77:51:65:f1:b5:3c:ff:49:11:5e:d8:62:3d:f9:
                    97:1d:bb:2b:2f:c5:53:11:2c:04:ea:14:1f:ff:ec:
                    eb:ed:8e:7b:0b:bd:9c:0a:f7:eb:34:7a:ae:1e:60:
                    60:02:3b:71:aa:e0:4f:28:79:56:2a:2d:20:f5:12:
                    bf:1d
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Basic Constraints: 
                CA:FALSE
            Netscape Cert Type: 
                SSL Server
            Netscape Comment: 
                Easy-RSA Generated Server Certificate
            X509v3 Subject Key Identifier: 
                75:9B:85:2E:D6:D0:38:57:9C:5F:3E:DC:F8:F9:7F:B3:C8:99:57:88
            X509v3 Authority Key Identifier: 
                keyid:AB:CE:90:CD:81:26:D5:A7:AA:8E:66:14:99:FD:AE:4B:B2:1F:61:74
                DirName:/C=RU/ST=Russia/L=Moscow/O=avsoft/OU=IT Department/CN=avsoft CA/name=EasyRSA/emailAddress=d.demin@avsw.ru
                serial:EB:A4:A6:2C:7D:74:57:1A

            X509v3 Extended Key Usage: 
                TLS Web Server Authentication
            X509v3 Key Usage: 
                Digital Signature, Key Encipherment
    Signature Algorithm: sha256WithRSAEncryption
         0b:94:3b:e1:73:69:0e:ce:27:69:19:a3:05:d6:bc:60:9e:26:
         a7:72:33:6a:af:38:b4:af:aa:dd:36:6d:39:92:be:a9:97:bf:
         dc:79:54:6d:d7:45:86:8c:0f:93:f7:7b:80:98:53:7f:1f:6d:
         91:a7:2e:a0:ce:c3:ca:d7:3c:20:b8:ca:af:7d:d5:8e:d8:ee:
         d7:5a:13:dc:0c:05:94:c8:d3:83:45:78:ea:b8:1c:3d:14:2d:
         0d:30:60:51:6e:07:21:bb:ed:24:ea:e3:fb:83:33:e4:52:7b:
         b1:91:4e:e7:b2:56:78:fb:c7:15:05:c2:3b:ed:4f:f2:2c:55:
         46:7b:81:94:99:f6:8e:79:55:38:88:3e:d4:85:0d:73:0b:9a:
         67:3b:3f:ce:8e:69:a7:8d:82:06:19:85:b1:23:7f:4a:b1:02:
         b8:75:31:8e:d6:a5:80:c7:07:ba:22:9c:5d:ff:f6:b9:55:a2:
         6c:3e:4f:48:07:b3:ff:7c:c7:22:c5:1d:c1:83:8f:ac:4b:f8:
         59:1d:2b:c2:e6:64:b0:2a:3a:85:30:7d:94:c8:33:96:f9:69:
         7c:d5:8f:f2:88:e6:4a:34:1f:20:7f:0c:b6:3a:b2:26:11:95:
         e5:53:41:7f:b2:32:33:e5:51:13:29:8f:0a:72:71:a2:43:e2:
         cc:9d:83:34
-----BEGIN CERTIFICATE-----
MIIFJzCCBA+gAwIBAgIBATANBgkqhkiG9w0BAQsFADCBnjELMAkGA1UEBhMCUlUx
DzANBgNVBAgTBlJ1c3NpYTEPMA0GA1UEBxMGTW9zY293MQ8wDQYDVQQKEwZhdnNv
ZnQxFjAUBgNVBAsTDUlUIERlcGFydG1lbnQxEjAQBgNVBAMTCWF2c29mdCBDQTEQ
MA4GA1UEKRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPZC5kZW1pbkBhdnN3LnJ1
MB4XDTE3MDkyNzE1NDM1NFoXDTI3MDkyNTE1NDM1NFowgZsxCzAJBgNVBAYTAlJV
MQ8wDQYDVQQIEwZSdXNzaWExDzANBgNVBAcTBk1vc2NvdzEPMA0GA1UEChMGYXZz
b2Z0MRYwFAYDVQQLEw1JVCBEZasdcnRtZW50MQ8wDQYDVQQDEwZzZXJ2ZXIxEDAO
BgNVBCkTB0Vhc3lSU0ExHjAcBgkqhkiG9w0BCQEWD2QuZGVtaW5AYXZzdy5ydTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKokg2LWwHiwnnETAXZTQeKK
ZAC9TtUAoyN6oyORtXiYAYnc4YFHynBg3/mgl5IvCUW5G7Baa6JC2baThY/ParTJ
Qeb2qSr/SOq80uXWMdQRzbAlKrywQSsCX5gHKXb8tZGsvm2Df9K3NDDO8a+bl3zf
dGLgBxdFr7IcFl14R5u9FiuyRQy2BpaZJvNrM8g2nN8IxJTfRIujOpIDs0b38pDa
sglUib0TPU3m/k/kjNkcvEcn/ja//0Y/lGs03HsF9//aI3dRZfG1PP9JEV7YYj35
lx27Ky/FUxEsBOoUH//s6+2Oewu9nAr36zR6rh5gYAI7cargTyh5ViotIPUSvx0C
AwEAAaOCAW8wggFrMAkGA1UdEwQCMAAwEQYJYIZIAYb4QgEBBAQDAgZAMDQGCWCG
SAGG+EIBDQQnFiVFYXN5LVJTQSBHZW5lcmF0ZWQgU2VydmVyIENlcnRpZmljYXRl
MB0GA1UdDgQWBBR1m4Uu1tA4V5xfPtz4+X+zyJlXiDCB0wYDVR0jBIHLMIHIgBSr
zpDNgSbVp6qOZhSZ/a5Lsh9hdKGBpKSBoTCBnjELMAkGA1UEBhMCUlUxDzANBgNV
BAgTBlJ1c3NpYTEPMA0GA1UEBxMGTW9zY293MQ8wDQYDVQQKEwZhdnNvZnQxFjAU
BgNVBAsTDUlUIERlcGFydG1lbnQxEjAQBgNVBAMTCWF2c29mdCBDQTEQMA4GA1UE
KRMHRWFzeVJTQTEeMBwGCSqGSIb3DQEJARYPZC5kZW1pbkBhdnN3LnJ1ggkA66Sm
LH10VxowEwYDVR0lBAwwCgYIKwYBBQUHAwEwCwYDVR0PBAQDAgWgMA0GCSqGSIb3
DQEBCwUAA4IBAQALlDvhc2kOzidpGaMF1rxgniancjNqrzi0r6rdNm05kr6pl7/c
eVRt10WGjA+T93uAmFN/H22Rpy6gzsPK1zwguMqvfdWO2O7XWhPcDAWUyNODRXjq
uBw9FC0NMGBRbgchu+0k6uP7gzPkUnuxkU7nslZ4+8cVBcI77U/yLFVGe4GUmfaO
eVU4iD7UhQ1zC5pnOz/OjmmnjYIGGYWxI39KsQK4dTGO1qWAxwe6Ipxd//a5VaJs
Pk9IB7P/fMcixR3Bg4+sS/hZHSvC5mSwKjqFMH2UyDOW+Wl81Y/yiOZKNB8gfwy2
OrImEZXlU0F/sjIz5VETKY8KcnGiQ+LMnYM0
-----END CERTIFICATE-----
