logoutput: /var/log/socks.log
internal: eth0 port = 5090
external: eth0
user.notprivileged: nobody
clientmethod: none
method: none


client pass {
        from: 185.20.185.97/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.97/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 192.252.210.35/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 192.252.210.35/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.203.242.250/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.203.242.250/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.98/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.98/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 195.123.211.181/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 195.123.211.181/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.34/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.34/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 192.252.210.44/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 192.252.210.44/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 78.46.246.159/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 78.46.246.159/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 192.252.210.45/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 192.252.210.45/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.154.12.165/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.154.12.165/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.106/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.106/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.108/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.108/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 78.47.58.93/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 78.47.58.93/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.154.14.46/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.154.14.46/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 192.252.210.47/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 192.252.210.47/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.109/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.109/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.110/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.110/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.40/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.40/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 78.47.74.67/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 78.47.74.67/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.154.14.169/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.154.14.169/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.43/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.43/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.44/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.44/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 78.46.194.55/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 78.46.194.55/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 78.47.75.101/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 78.47.75.101/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.45/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.45/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.116/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.116/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.20.185.117/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.20.185.117/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.202.103.47/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.202.103.47/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 185.154.12.217/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 185.154.12.217/32 to: 0.0.0.0/0
        log: error connect disconnect
}


client pass {
        from: 212.34.50.202/32 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 212.34.50.202/32 to: 0.0.0.0/0
        log: error connect disconnect
}

client pass {
        from: 10.8.0.0/24 to: 0.0.0.0/0
        log: error connect disconnect
}

pass {
        from: 10.8.0.0/24 to: 0.0.0.0/0
        log: error connect disconnect
}

block {
        from: 0.0.0.0/0 to: 0.0.0.0/0
        log: connect error
}
